[Desktop Entry]
Type=Application
Exec=phonexa-screens
Icon=phonexa-screens
Terminal=false
StartupNotify=false
Name=Phonexa-screens
GenericName=Phonexa Screenshorter Screenshot Tool
Comment=Cross-platform screenshot tool that provides many annotation features for your screenshots.
Categories=Utility;
